<!-- home.component.html -->
<div class="container mt-5">

    <!-- Section: Notre Engagement envers la Qualité -->
    <section class="text-center">
        <h2 class="mb-4 custom-strong text-blue">Notre Engagement envers la Qualité</h2>
        <p class="lead">Bien plus qu'une entreprise de logistique et de transport basée en Pologne, nous sommes le pilier solide sur lequel vous pouvez construire le succès de votre chaîne d'approvisionnement. Avec deux ans d'expérience, nous sommes votre partenaire stratégique en offrant des solutions de livraison exceptionnelles à travers toute l'Europe.</p>
    </section>

    <!-- Section: Ce que nous offrons -->
    <section class="mt-5">
        <h3 class="mb-4 custom-strong text-blue">Ce que nous offrons</h3>
        <ul>
            <li><strong class="text-blue">Transport Rapide et Sûr:</strong> Vos marchandises sont notre priorité. Garantie de livraisons rapides, sûres et sans tracas.</li>
            <li><strong class="text-blue">Services Logistiques Adaptés:</strong> Des solutions sur mesure pour s'adapter à vos besoins spécifiques.</li>
            <li><strong class="text-blue">Équipe Dévouée:</strong> Une équipe expérimentée, dévouée et multilingue prête à relever les défis logistiques de votre entreprise.</li>
        </ul>
    </section>

    <!-- Section: Mission de la logistique -->
    <section class="mt-5">
        <p class="lead">La logistique va au-delà du mouvement des marchandises; elle construit des relations durables. Notre mission est de simplifier vos opérations logistiques, en éliminant les tracas et en fournissant des solutions qui contribuent directement à la croissance de votre entreprise.</p>
    </section>

    <!-- Section: Pratiques respectueuses de l'environnement -->
    <section class="mt-5">
        <p class="lead">Gardiens de la durabilité, nous intégrons des pratiques respectueuses de l'environnement dans tous les aspects de notre entreprise. Des technologies de pointe aux itinéraires optimisés, nous minimisons notre impact sur la planète.</p>
    </section>

    <!-- Section: Collaboration et Services -->
    <section class="text-center mt-5">
        <p class="lead">Choisir notre entreprise comme partenaire logistique, c'est choisir une collaboration où l'innovation, la fiabilité et la flexibilité sont au cœur de chaque service que nous fournissons. Explorez notre gamme complète de services logistiques et découvrez comment nous pouvons transformer vos défis logistiques en opportunités de croissance. Chez IKC Transport, nous ne livrons pas simplement des marchandises, nous livrons la promesse de performances exceptionnelles.</p>
    </section>

    <!-- Section: Engagement envers la qualité -->
    <section class="mt-5">
        <p class="lead">Notre engagement envers la qualité ne se mesure pas en termes de kilomètres parcourus, mais en termes de relations construites et de succès partagés. Avec nous, votre entreprise est entre de bonnes mains.</p>
    </section>

</div>
