<div class="container mb-5">
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <h2 class="text-center my-4 text-blue">Contactez-nous</h2>
        <p class="text-center">Pour toute question ou demande d'information, n'hésitez pas à nous contacter :</p>
        <form action="https://formspree.io/f/mpzvpdep" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email :</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Votre email" required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message :</label>
            <textarea class="form-control" id="message" name="message" rows="8" placeholder="Écrivez votre message ici..." required></textarea>
          </div>
          <!-- d'autres champs de formulaire peuvent être ajoutés ici si nécessaire -->
          <button type="submit" class="btn btn-primary custom-btn">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
  
  