<!-- app.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="assets/logo.jpg" width="70" height="70" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- app.component.html -->
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="/" routerLinkActive="active">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/services" routerLinkActive="active">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/presentation" routerLinkActive="active">A Propos de nous</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact" routerLinkActive="active">Contact</a>
  </li>
</ul>

  </div>
</nav>

<!-- Reste du code inchangé -->

<div class="site-wrapper flex-grow">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


<footer class="footer bg-dark text-light mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 IKC TRANSPORT SP Z.O.O</p>
        <p>Adresse : Ul. Rzgowska 13/5, 93-008 Łódź, Pologne</p>
        <p>Téléphone : +48 798 441 812</p>
        <p>Email : <a href="mailto:kalilou.ikctransport&#64;gmail.com">kalilou.ikctransport&#64;gmail.com</a></p>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/presentation">A Propos de nous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <ul class="list-inline icons-list">
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
