<!-- partners.component.html -->
<div class="container mt-5">
    <h2 class="text-center mb-4 text-blue mt-8">Nos Partenaires</h2>
    <p class="lead text-center">
        Découvrez nos partenaires stratégiques qui contribuent à notre succès et à celui de nos clients. La collaboration avec ces partenaires nous permet d'offrir des solutions logistiques de qualité et de répondre aux besoins divers de notre clientèle.
    </p>

    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="card text-center mb-2">
                <img src="assets/camion/partenaire1.jpg" alt="Partenaire 1" class="card-img-top img-fluid partner-logo d-block mx-auto partner-logo-fixed-height">
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-center mb-2">
                <img src="assets/camion/partenaire.png" alt="Partenaire 2" class="card-img-top img-fluid partner-logo d-block mx-auto partner-logo-fixed-height">
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-center mb-2">
                <img src="assets/camion/partenaire1.png" alt="Partenaire 3" class="card-img-top img-fluid partner-logo d-block mx-auto partner-logo-fixed-height">
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-center mb-2">
                <img src="assets/camion/partenaire2.png" alt="Partenaire 4" class="card-img-top img-fluid partner-logo d-block mx-auto partner-logo-fixed-height">
            </div>
        </div>
        <!-- Ajoutez d'autres colonnes selon le nombre de partenaires -->
    </div>
</div>
