<!-- services.component.html -->
<div class="container mb-4">
    <h2 class="my-4 text-center text-blue">Nos Services</h2>
    <div class="row d-flex align-items-stretch">
        <div class="col-md-4">
            <div class="card h-100">
                <img src="assets/camion/service1.jpg" class="card-img-top" alt="Service 1">
                <div class="card-body">
                    <h5 class="card-title text-blue">Transport Rapide</h5>
                    <p class="card-text">Assurez-vous que vos colis arrivent à destination en temps voulu. Nous offrons un service de chargement rapide et fiable, avec garantie de dédouanement pour éviter tout retard de livraison.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <img src="assets/camion/service2.jpg" class="card-img-top" alt="Service 2">
                <div class="card-body">
                    <h5 class="card-title text-blue">Logistique Optimisée</h5>
                    <p class="card-text">Optimisez votre chaîne d'approvisionnement avec notre service d'échange de palettes. Des solutions sur mesure pour votre entreprise, avec garantie de dédouanement pour une logistique fluide.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <img src="assets/camion/service3.jpg" class="card-img-top" alt="Service 3">
                <div class="card-body">
                    <h5 class="card-title text-blue">Transport Spécialisé</h5>
                    <p class="card-text">Transportez en toute sécurité des marchandises soumises à l'ADR et des marchandises sensibles à la température. Des solutions adaptées à vos besoins spécifiques, avec garantie de dédouanement pour un transport spécialisé sans accroc.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h2 class="mb-4 text-blue">Témoignages Clients</h2>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">"IKC Transport a révolutionné notre chaîne logistique. Leur engagement envers le service client et la fiabilité est incomparable. Nous sommes ravis de travailler avec eux."</p>
                    <p class="card-text">-Jean Paul Cordinateur générale</p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text">"La rapidité et l'efficacité du service de transport d'IKC nous ont permis d'améliorer considérablement nos délais de livraison. Une entreprise de confiance."</p>
                    <p class="card-text">- Marie Dubois, Directrice des Approvisionnements</p>
                </div>
            </div>
        </div>
    </div>
</div>
