@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";




body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .site-wrapper {
    flex: 1;
  }
  
  .navbar {
    background-color: #ffffff; /* Couleur blanche pour la barre de navigation */
  }
  
  .footer {
    width: 100%;
    padding: 20px 0;
    position: relative;
    z-index: 1000;
  }
  
  .footer p {
    margin-bottom: 0;
  }
  
  .navbar-brand {
    font-weight: bold;
    margin-right: auto;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .navbar-nav a {
    padding: 0.5rem 1rem;
  }
  
  .custom-logo {
    margin-right: 0 !important;
  }
  
  .custom-carousel {
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .camion-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

  .custom-btn {
      margin-bottom: 15px; /* Ajoutez la marge basse souhaitée */
  }
  
  .icons-list {
      margin-left: 20px; /* Ajustez la valeur selon vos préférences pour décaler les icônes vers la droite */
    }
  
    /* styles.css (ou votre fichier de style) */
  .text-blue {
      color: #3498db; /* Couleur bleu-vert */
      font-weight: bold; /* Texte en gras */
  }
  
    
  .partner-logo-fixed-height {
      height: 80px; /* Ajustez la hauteur selon vos besoins */
  }
  
  
  /* Ajoutez ces styles à votre fichier de styles CSS */
  .navbar-nav .nav-link:hover {
      
      color: #fff; /* Couleur du texte au survol */
    }
    
    /* Styles pour le lien actif */
    .navbar-nav .nav-item.active .nav-link {
      
      color: #fff; /* Couleur du texte du lien actif */
    }

    .site-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Garantit que le site-wrapper occupe au moins 100% de la hauteur de la vue */
      }
      
      .footer {
        margin-top: auto; /* Pousse le footer vers le bas de l'espace disponible */
      }
      
    /* styles.css (ou styles.scss) */
    .menu-item {
      font-weight: bold; /* Exemple de style de mise en valeur */
      color: #ff5733; /* Couleur personnalisée */
     }

     /* Ajoutez cette règle pour ajuster la taille du placeholder */
   .form-control::placeholder {
       font-size: 20px; /* Vous pouvez ajuster la taille selon vos besoins */
    }
  
    .navbar-nav .nav-link:hover {
        color: #fff; /* ou toute autre couleur souhaitée */
      }

      .icons-list a:hover {
        color: #fff; /* ou toute autre couleur souhaitée */
      }
      
        /* Désactiver les effets de survol et définir les styles de base pour les liens du footer */
        .footer a.nav-link,
        .footer a.list-inline-item {
        color: #333; /* Couleur de texte par défaut */
        text-decoration: none; /* Pas de soulignement par défaut */
        }

        /* Styles de survol si nécessaire */
        .footer a.nav-link:hover,
        .footer a.list-inline-item:hover {
        color: #007bff; /* Couleur de survol */
        text-decoration: underline; /* Soulignement au survol si nécessaire */
        }



        /* Adresse, mail footer */
        .col-md-6 {
            padding: 20px; /* Ajoute une marge intérieure pour l'espace autour du contenu */
            background-color: #f8f9fa; /* Ajoute une couleur de fond */
          }
          
          address {
            font-style: normal; /* Assurez-vous que le texte dans la balise <address> n'est pas en italique */
          }
          
          /* Style pour le lien email */
          .col-md-6 a {
            color: #007bff; /* Couleur du lien */
            text-decoration: none; /* Pas de soulignement par défaut */
          }
          
          /* Style au survol du lien email */
          .col-md-6 a:hover {
            text-decoration: underline; /* Soulignement au survol */
          }

          .social-icon {
            font-size: 2em; /* Vous pouvez ajuster la taille en fonction de vos besoins */
          }
          
        